<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Movies</h2>

<div class="spinner-wrapper">
  <button class="item" (click)="toogleRandomRating()" [color]="buttonColor" mat-raised-button>{{randomRatingString}} Random Rating
  </button>
  <mat-spinner color="warn" *ngIf="rr" [diameter]="40"></mat-spinner>
</div>
<br>
<br>

<mat-list>
  <mat-list-item *ngFor="let item of items">
    <span class="item">{{item.title}}</span>
    <mat-star-rating
      [rating]="item.rating"
      starCount="5"
      (ratingUpdated)="onRatingChanged($event, item)">
    </mat-star-rating>
  </mat-list-item>
</mat-list>
